    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>About Us</h2>
              <p>Done Deal Designs, LLC specializes in outdoor design and construction. Our team provides turnkey service by working with you throughout the entire process to bring your vision for your outdoor space to life.  If you aren't quite sure what you can do to optimize your outdoor space we are happy to create some options for you!</p>
              <p>
                <h3>Services Include:</h3>
                <ul>
                    <li>Outdoor Lighting Design and Installation</li>
                    <li>Landscape & Hardscape Design and Installation</li>
                    <li>Swimming Pool & Spa Design and Construction</li>
                    <li>Outdoor Kitchens, Fireplaces & Living Area Design and Construction</li>
                </ul>
            </p>
            </div>
        </div>
    </section>
